* {
    /* border: 1px solid yellow; */
}

body {
    background-color: grey;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.header {
    background-color: #393535;
    font-family: 'Shadows Into Light', cursive;
    color: white;
    font-size: 22px;
    height: 20%;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.content-container {
    background-color: lightcoral;
    height: 70%;
    display: flex;
    flex-direction: row;
}

.nav-container {
    background-color: #695e5e;
    width:30%;
    height: 100%;
    padding: 30px;
    color: white;
    font-family: 'Shadows Into Light', cursive;
}

.project-container {
    background-color: blue;
    width: 70%;
    height: 100%;
}

.footer {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
}

.footer-text {
    font-family: 'Shadows Into Light', cursive;
}

.nav-project-header {
    font-size: 30px;
    background-color: #695e5e;
}

.nav-button {
    font-size: 16px;
    height: 40px;
    background-color: #695e5e;
    font-family: 'Shadows Into Light', cursive;
    color: white;
    width: 70%;
}

.nav-button:hover {
    background-color: #443e3e;
}

.project-input-buttons {
    display: flex;
    flex-direction: row;
    height: 15%;
    gap: 15px;
}

.project-input-buttons input {
    width: 75%;
    font-size: 30px;
}

.project-input-buttons button {
    width: 12.5%;
}

.add-project-button-button {
    background-color: green;
    border: none;
    border-radius: 2.5px;
}

.minus-project-button-button {
    background-color: red;
    border: none;
    border-radius: 2.5px;
    display: inline;
}

.project-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 15px;
}

/* .project-list button {

} */

.project-container-project-title {
    color: red;
}

.project-active {
    background-color: yellow;
}